.footer-ultra-minimal{
    text-align: center;
    color: rgb(255, 255, 255);
}

body{
    background-image: url(img/f1.jpg);
    background-size: cover; /* Cubrir fondo entero */
    background-repeat: no-repeat; /* No repetir IMG */
    background-position: center center; /* Centra la IMG */
    background-attachment: fixed; /* Fija IMG */
}

.navbar .navbar-brand,
  .navbar .nav-link,
  .navbar .offcanvas-title .navbar .nav-link:hover,
  .navbar .nav-link.active{
    color: white !important;
  }

  .navbar .form-control {
    color: white;
    background-color: transparent;
    border-color: white;
  }

.carousel-item {
    display: flex;
    height: 700px; 
    background-color:transparent; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .carousel-item img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; 
  }
